<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
		
	
<!--  <bean id="Computer" class="com.Computer">
	<property name="cpu" ref="IntelCpu"/>       name为computer当前bean中cpu的属性名字 ref值为所关联的bean
 </bean>                                     id的值随便写，最好和类名一样,告诉spring实例化一个Computer对象
<bean id="IntelCpu" class="com.IntelCpu"></bean>-->


 	<!--  <context:annotation-config />
	<context:component-scan base-package="javaconfig">
	</context:component-scan>
	-->
</beans>