<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
		
		
	<bean id="userserviceimpl" class="com.service.UserServiceImpl"></bean>
	<bean id="beforeadvice" class="com.advistor.BeforeAdvice"></bean>
	<bean id="afteradvice" class="com.advistor.AfterAdvice"></bean>
	<bean id="aroundadvice" class="com.advistor.AroundAdvice"></bean>
	<bean id="exceptionadvice" class="com.advistor.ExceptionAdvice"></bean>
	<bean id="UserServiceProxy"
        class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces" value="com.service.UserService"></property>
        <property name="target" ref="userserviceimpl" />
        <property name="interceptorNames">
            <list>
                <!--  value>beforeadvice</value-->
                <!--  value>afteradvice</value-->
                <value>exceptionadvice</value>
            </list>
        </property>
    </bean>
</beans>